/* You need to initialize the parent elements to 100%
for this to work correctly in the scrollable div */
body, html {
    display: block;
    margin: 0em;
    padding: 0em;
    width: 100%;
    height: 100%;
    /* debug */
    border: 1px solid gold;
}

/* Section for the Index page */

/********* IDEX HEADER SECTION ******/
.headerIndex{
    /* Look */
    display: block;
    height: 30%;
    width: 100%;
    /* DEBUG */
    border: 1px solid pink;
}

.messageboardEntranceDivs{
    /* flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    /* styling */
    /* debug */
    border: 1px solid blue;
}

.entranceHDogDiv{
    /* flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    width: 45%;
    /* styling */
    padding-left: .5em;
    padding-right: .5em;
    /* debug */
    border: 1px dashed black;
}

.entranceHamDiv{
    /* flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    width: 45%;
    /* styling */
    padding-left: .5em;
    padding-right: .5em;
    /* debug */
    border: 1px dashed black;
}

.entranceP {
    font-size: 2rem;
    align-self: center;
    text-align: center;
}

.entranceInfoDivs{
    /* flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    /* styling */
    padding-top: .2em;
}

.entranceInfoP{
    font-size: 1rem;
    align-self: center;
    text-align: center;
    color: black; 
}

/********* IDEX BODY SECTION ******/
.mainContentDiv{
    /* flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 70%;
    margin: 0em;
    padding: 0em;
    /* height: 73%; */
    overflow-y: auto;
    overflow-x: hidden;
    /* styling */
    
    /* debug styling */
    border: 1px solid purple;
}

.instructUserDiv{
    /* flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    margin: 0em;
    padding: 0em;
}

.informTextP{
    font-size: 1rem;
    align-self: center;
    text-align: center;
    color: black;
}

.signInAndUpDiv{
    /* flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    margin: 0em;
    padding: 0em;
}

.actionDiv{
    /* flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    justify-self: center;
    width: 45%;
    margin: 0em;
    padding-left: .2em;
    padding-right: .2em;
    /* debug */
    border: 1px solid red;
}

/* SYTLING FOR THE FORMS ON THE INDEX PAGE */
.divformDiv {
    /* Flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    /* styling */
    padding: 1rem;
    /* debug styling */
    
}

.signInAlignmentDiv{
    /* Flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    /* debug styling */
}

#sign-in-form {
    align-self: center;
}

.labelDiv {
    /* flexbox styling */
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    align-content: center;
    width: 40%;
    margin-right: 1em;
    /* DEBUG */
}

.labelPText {
    /* styling */
    align-self: center;
    font-size: 1rem;
    padding-right: 1rem;
    font-family: 'Goldman', cursive;
    color: rgb(0, 0, 0);
}

.inputDiv {
    /* flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: flex-start;
    width: 40%;
    margin-left: 1em;
    /* Debug */
}

.fieldSection{
    /* flexbox styling */
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    /* styling */
    padding-top: 1rem;
    /* DEBUG */
}

#my-form-button{
    display: inline-block;
    text-align: center;
    align-self: center;
    /* styling */
    font-size: 1rem;
}

#inputTextMobileUN{
    /* font styling */
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}


#inputTextMobilePW{
    /* font styling */
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}

#username-err {

}

#password-err {

}

.form-field-err {
    font-size: 1rem;
}















/* Section for the Messageboard stuff */

.board_holder{
    /* Flex-box formatting */
    display: block;
    box-sizing: border-box;
    align-self: center;
    width: 95%;
    height: 90%;
    /* debug */
    border: 3px solid green;
}

.messageboardsectionDiv{
    /* Flex-box formatting */
    /* styling for auto scrolling */
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 70%;
    align-self: center;
    /* styling */
    padding: 0em;
    margin: 0em;
    /* debug */
    border: 1px dashed rgb(95, 2, 7);
}

.commentPageDiv{
    /* Flex-box formatting */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 13%;
    /* styling */
    padding: .2em;
    /* debug */
    border: 1px solid rgb(240, 221, 57);
}

.pageExplorers{
    /* Flex-box formatting */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 25%;
    /* styling */
    align-self: flex-end;
    /* debug */
}

.goToDiv{
    /* Flex-box formatting */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
    width: 100%;
    /* styling */
    
    /* debug */
}

.goToInputDiv{
    /* Flex-box formatting */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 45%;
    /* styling */
    
    /* debug */
}

.goInput{

}

.goToButtonDiv{
    /* Flex-box formatting */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 45%;
    /* styling */
    
    /* debug */
}

.goToButton{
    font-size: 1rem;
}

.pageButtonsDivs{
    /* Flex-box formatting */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    /* styling */
    
    /* debug */
}

.leftButtonDiv{
    /* Styling */
    display: block;
    width: 25%;
    height: 2em;
    /* styling */
    background-image: url("../images/svg/leftarrow.svg");
    /* background-size: 100% 100%; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* debug */
    border: 1px solid rgb(178, 180, 24);
}

.rightButtonDiv{
    /* Flex-box formatting */
    display: block;
    width: 25%;
    height: 2em;
    /* styling */
    background-image: url("../images/svg/rightarrow.svg");
    /* background-size: 100% 100%; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    /* debug */
    border: 1px solid rgb(178, 180, 24);
}

.pagesDiv{
    /* Flex-box formatting */
    display: block;
    /* styling */

    /* debug */
}

.whatPageP{
    font-size: 1rem;
    align-self: center;
}

.messageSectionDiv {
    /* Flex-box formatting */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    width: 95%;
    height: auto;
    /* styling */
    position: relative;
    /* debug */
}

.messageTextDiv{
    /* Flex-box formatting */
    display: block;
    width: 100%;
    /* styling */

    /* debug */
}

.textP{
    font-size: 1rem;
    color: black;
}

.replyNumP{
    font-size: 1rem;
    color: black;
}

.replyButtonSpacingDiv{

    width: 100%;
    /* styling */
    
    /* debug */
}

.replyButtonDiv{
    /* Flex-box formatting */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 15%;
    /* styling */
    
    /* debug */
}

.buttonTextDiv{
    display: block;
    /* styling */
    font-size: 1rem;
    /* debug */
}

.buttonIconDiv{
    /* Flex-box formatting */
    display: block;
    width: 25%;
    height: 2em;
    /* styling */
    background-image: url("../images/svg/downarrow.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* debug */
}

.replyInputDiv{
    /* Flex-box formatting */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    /* debug */
    border: 1px dashed purple;
}

.commentOriginalDiv{
    /* Flex-box formatting */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 13%;
    /* debug */
    border: 1px solid red;
}

.textareaComment{
    font-size: 1.1rem;
    width: 85%;
    height: 50%;
}

.commentButtonSendMsg{
    width: 10%;
    height: 50%;
    font-size: 1rem;
}

.textareaReply{
    font-size: 1.1rem;
    width: 70%;
    height: 10vh;
}

.replyButtonSendMsg{
    width: 10%;
    height: 10vh;
    font-size: 1rem;
    /* DEBUG */
}

.replyToMessageDiv{
    /* Styling */
    display: block;
    width: 25%;
    height: 2em;
    /* debug */
}

.replyButtonP{
    font-size: 1rem;
    color: blue;
    align-self: center;
}

.repliesSectionDiv{
    /* Flex-box formatting */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;

    /* styling */
    padding: 1em;
    /* scrollable styling */
    height: auto;
    overflow-y: auto;
    /* debug */
    border: 2px solid gray;
}

.replyListingDiv{
    /* Flex-box formatting */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    /* styling */
    padding: .2em;
    /* debug */
    border: 2px solid rgb(23, 182, 45);
}


/*** BIG TEST ZONE ****/
.board_holder2{
    /* Flex-box formatting */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    /* for scrollable display */
    position: relative;
    width: 95%;
    height: 90%;
    /* debug */
    border: 3px solid orangered;
}

.messageboardsectionDiv2{
    /* Flex-box formatting */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    max-height: 50%;
    /* styling */
    padding: 0em;
    margin: 0em;
    /* styling for auto scrolling */
    overflow-y: scroll;
    overflow-x: hidden;
    /* debug */
    border: 1px dashed navy;
}

.messageTextDiv2{
    /* Flex-box formatting */
    display: block;
    width: 100%;
    /* styling */

    /* debug */
}

.textP2{
    font-size: 1rem;
    color: black;
}